{
	"compact": false,
	"env": {
		"development": {
			"presets": [
				"es2015",
				"stage-1"
			]
		},
		"rollup": {
			"presets": [
				["es2015",{ "modules": false }],
				"stage-1"
			],
			"plugins": [
				"external-helpers"
			]
		}
	}
}
